body {
    font-family: "Red Hat Display", sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: #ffffff;
}
body.japanese {
    font-family: "Noto Sans JP", sans-serif;
}
header {
    background-color: #000000;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}
#logo {
    height: 60px;
}
#lang-switcher {
    display: flex;
    gap: 10px;
}
.lang-button {
    font-family: "Red Hat Display", sans-serif;
    border-radius: 5px;
    background-color: #72D5A3;
    border: none;
    color: #000000;
    margin: auto;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}
.container {
    width: 75%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}
section {
    margin-top: 0;
    margin-bottom: 64px;
}
#contact { 
    text-align: center;
}
.info-container {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    gap: 15px;
    justify-content: center;
}
.info-card {
    flex-basis: 60%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px;
    text-align: left;
}
.info-card b{
    font-weight: 600;
}
.contact-button-container {
    text-align: center;
}
.contact-button {
    border-radius: 35px;
    background-color: #72D5A3;
    border: none;
    color: #1a1a1a;
    margin: 20px 0px 20px 0px;
    padding: 15px 30px 15px 30px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
}
.service-container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 80%;
    gap: 35px;
    justify-content: space-between;
}
.service-card {
    flex-basis: 40%;
    padding: 20px;
    background-color: #1a1a1a;
    color: #ffffff;
    border-radius: 8px;
}
.service-card-header {
    display: flex;
    align-items: center;
}
.service-card-header h3 {
    margin-top: 6px;
    margin-left: 16px;
    line-height: 1.2;
    display: flex;
    align-items: center;
}
.service-card span {
    margin-top: 0;
    margin-bottom: 15px;
    padding: 8px;
    text-align: center;
    font-size: 48px;
    color: #1a1a1a;
    background-color: #72D5A3;
    border: none;
    border-radius: 8px;
}

.service-card ul {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
    list-style-type: none;
    line-height: 1.5;
}

.service-card ul li {
    padding-left: 16px;
    text-indent: -12px;
}

.service-card ul li::before {
    content: '\e5cc';
    font-family: 'Material Symbols Outlined';
    padding-right: 8px;
    margin-bottom: 2px;
    font-size: 16px;
    vertical-align: middle;
    display: inline-block;
}
.choose-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}
.choose-card {
    flex-basis: calc(30% - 10px);
    padding: 10px;
}
.choose-card h3 {
    margin-top: 0;
    color: #ffffff;
}
.choose-card ul {
    padding-left: 20px;
    margin-bottom: 0;
}
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}
@media (max-width: 768px) {
    .info-card {
        flex-basis: 100%;
    }
    .service-card {
        flex-basis: 100%;
    }
    .choose-card {
        flex-basis: 100%;
    }
    .container {
        width: 90%;
    }
}